<div [ngClass]="{'is-phone-portrait': isPhonePortrait}"> 
  
</div>
  <h2 [ngClass]="{'is-phone-portrait': isPhonePortrait}">Not So Creative CV</h2>

  <a [routerLink]="['about']">
    <h2 [ngClass]="{'is-phone-portrait': isPhonePortrait}"> ABOUT</h2>
  </a>
  
  <a [routerLink]="['skills']">
    <h2 [ngClass]="{'is-phone-portrait': isPhonePortrait}"> SKILLS</h2>
  </a>

  <a [routerLink]="['experience']">
    <h2  [ngClass]="{'is-phone-portrait': isPhonePortrait}"> EXPERIENCE</h2>
  </a>

  <a [routerLink]="['contact']">
    <h2 [ngClass]="{'is-phone-portrait': isPhonePortrait}"> CONTACT</h2>
  </a>