h1 {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
h2 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.border {
    position: relative;
    padding: 20px;
    background: #d21919;
}