<div class="row g-0">
  <div class="col-4">
    <img
      class="img-fluid rounded-start"
      [alt]="skill.name"
    />
  </div>
  <div class="col-8">
    <div class="card-body">
      <h5 class="card-title">{{ skill.name }}</h5>

      <div [ngSwitch]="skill.skillRating">
        <p>
          Skillset level:
          <span *ngSwitchCase="80"> Great </span>
          <span *ngSwitchCase="60"> Medium </span>
          <span *ngSwitchDefault> Fresher </span>
        </p>
      </div>
      <p>
        Description: {{ skill.description }}
      </p>
    </div>
  </div>
</div>
